{% extends 'base.html.twig' %}


{% block body %}
	<div class="mkdf-content">
		<div class="mkdf-content-inner">
			<div class="mkdf-full-width-inner">
				<div class="mkdf-grid-row">
					<div class="mkdf-page-content-holder mkdf-grid-col-12">
						<div class="mkdf-row-grid-section-wrapper mkdf-content-aligment-center" style="background-image: url(https://lilo.qodeinteractive.com/wp-content/uploads/2018/05/error-page-backround.jpg);background-position: center center">

							<div style="padding-top: 30px;" class="mkdf-row-grid-section">
								<div style="display: flex; justify-content: space-between; flex-wrap: wrap;" class="content-top">
									<div class="mkdf-iwt-icon home-icon">
										<a itemprop="url" href="#" target="_self">
											<div class="mkdf-iwt-custom-icon">
												<div class="mkdf-iwt-custom-icon-shape" style="background-color:#fcf4eb"></div>
												<img width="115" height="115" src="https://lilo.qodeinteractive.com/wp-content/uploads/2018/04/icon-with-text-1.png" class="attachment-full size-full" alt="c" loading="lazy" srcset="https://lilo.qodeinteractive.com/wp-content/uploads/2018/04/icon-with-text-1.png 115w, https://lilo.qodeinteractive.com/wp-content/uploads/2018/04/icon-with-text-1-100x100.png 100w" sizes="(max-width: 115px) 100vw, 115px"/>
											</div>
											<h4 class="mkdf-iwt-title" style="margin-top: 25px">
												<span class="mkdf-iwt-title-text">Home</span>
											</h4>
										</a>
									</div>
									<div>
										<h1 class="mkdf-404-title">
											Minh Duy
											<span style="color: #ff6f96;" class="mkdf-404-title-colored-part">
												-
											</span>
											Class: Butterfly
										</h1>
										<h1>
											<span style="color: #ff6f96;" class="mkdf-404-title-colored-part">
												16/04/2021
											</span>
										</h1>

									</div>
									<div class="mkdf-iwt clearfix  mkdf-iwt-icon-left mkdf-iwt-icon-medium  mkdf-custom-icon-mkdf-circle">
										<div class="mkdf-iwt-icon">
											<a itemprop="url" href="#" target="_self">
												<div class="mkdf-iwt-custom-icon">
													<div class="mkdf-iwt-custom-icon-shape" style="background-color:#fcf4eb"></div>
													<img width="115" height="115" src="https://lilo.qodeinteractive.com/wp-content/uploads/2018/04/icon-with-text-6.png" class="attachment-full size-full" alt="c" loading="lazy" srcset="https://lilo.qodeinteractive.com/wp-content/uploads/2018/04/icon-with-text-6.png 115w, https://lilo.qodeinteractive.com/wp-content/uploads/2018/04/icon-with-text-6-100x100.png 100w" sizes="(max-width: 115px) 100vw, 115px"/>
												</div>
												<h4 class="mkdf-iwt-title" style="margin-top: 25px">
													<span class="mkdf-iwt-title-text">Profile</span>
												</h4>
											</a>
										</div>
									</div>
								</div>

								<div class="vc_row wpb_row vc_row-fluid" style="margin-bottom: 50px;">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner">
											<div class="wpb_wrapper">
												<div class="mkdf-elements-holder   mkdf-one-column  mkdf-responsive-mode-768 ">
													<div class="mkdf-eh-item     " style="background-color: #9ad8d3;border-radius: 10px" data-item-class="mkdf-eh-custom-3784">
														<div class="mkdf-eh-item-inner">
															<div class="mkdf-eh-item-content mkdf-eh-custom-3784" style="padding: 25px 45px 55px">
																<div class="wpb_text_column wpb_content_element ">
																	<div class="wpb_wrapper">
																		<h2>
																			<span style="color: #ffffff;">Stay At Home</span>
																		</h2>
																	</div>
																</div>
																<div class="vc_empty_space" style="height: 37px">
																	<span class="vc_empty_space_inner"></span>
																</div>
																<div role="form" class="wpcf7" id="wpcf7-f734-p582-o2" lang="en-US" dir="ltr">
																	<div class="screen-reader-response" role="alert" aria-live="polite"></div>
																	<form action="" method="post" class="wpcf7-form init" novalidate="novalidate">						
																		<p>
																			<span class="wpcf7-form-control-wrap your-message">
																				<textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Reason: vaccination"></textarea>
																			</span>
																		</p>
																		<p>
																			<input type="submit" value="Edit" class="wpcf7-form-control wpcf7-submit"/>
																			<input type="submit" value="Save" class="wpcf7-form-control wpcf7-submit"/>
																		</p>
																	</form>
																</div>

															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div style="margin-top: 40px; padding-top: 50px; display: flex; justify-content: space-between;">
									<a itemprop="url" href="#" target="_self" class="mkdf-btn mkdf-btn-medium mkdf-btn-solid">
										<span class="mkdf-btn-text">Prev Day</span>
									</a>
									<a itemprop="url" href="#" target="_self" class="mkdf-btn mkdf-btn-medium mkdf-btn-solid">
										<span class="mkdf-btn-text">Next Day</span>
									</a>
								</div>

								<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-7">
									<div class="vc_column-inner">
										<div class="wpb_wrapper"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>{% endblock %}
