{% extends 'base.html.twig' %}


{% block body %}
	<div class="mkdf-content">
		<div class="mkdf-content-inner">
			<div class="mkdf-full-width">
				<div class="mkdf-full-width-inner">
					<div class="mkdf-grid-row">
						<div class="mkdf-page-content-holder mkdf-grid-col-12">
							<div class="mkdf-row-grid-section-wrapper mkdf-content-aligment-center" style="background-image: url(https://lilo.qodeinteractive.com/wp-content/uploads/2018/05/h3-backround-img-2.jpg);background-position: center center">
								<div class="mkdf-row-grid-section">
									<div class="vc_row wpb_row vc_row-fluid vc_custom_1527690191405">
										<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-5 vc_col-md-7">
											<div class="vc_column-inner">
												<div class="wpb_wrapper">
													<div class="mkdf-elements-holder   mkdf-one-column  mkdf-responsive-mode-768 ">
														<div class="mkdf-eh-item     " style="background-color: #9ad8d3;border-radius: 10px" data-item-class="mkdf-eh-custom-7897" data-1367-1600="18px 40px 55px" data-1025-1366="18px 40px 55px" data-769-1024="18px 30px 55px" data-681-768="18px 40px 55px" data-680="18px 30px 55px">
															<div class="mkdf-eh-item-inner">
																<div class="mkdf-eh-item-content mkdf-eh-custom-7897" style="padding: 18px 40px 55px">
																	<div class="wpb_text_column wpb_content_element ">
																		<div class="wpb_wrapper">
																			<h1>
																				<span style="color: #ffffff;">Track Kid's Activities</span>
																			</h1>
																		</div>
																	</div>
																	<div class="vc_empty_space" style="height: 40px">
																		<span class="vc_empty_space_inner"></span>
																	</div>
																	<div role="form" class="wpcf7" id="wpcf7-f735-p595-o2" lang="en-US" dir="ltr">
																		<div class="screen-reader-response" role="alert" aria-live="polite"></div>
																		<form action="/little-heroes/#wpcf7-f735-p595-o2" method="post" class="wpcf7-form init" novalidate="novalidate">
								
																			<div class="mkdf-grid-row mkdf-grid-normal-gutter">
																				<div class="mkdf-grid-col-12">
																					<span class="wpcf7-form-control-wrap your-name"><input type="text" name="Username" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Username"/></span>
																				</div>
																				<div class="mkdf-grid-col-12">
																					<span class="wpcf7-form-control-wrap your-email"><input type="password" name="Password" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Password"/></span>
																				</div>
																			</div>

																			<p><input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit"/>
																			</p>
																			<div class="wpcf7-response-output" role="alert" aria-hidden="true"></div>
																		</form>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-7">
											<div class="vc_column-inner">
												<div class="wpb_wrapper"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
