{% extends 'base.html.twig' %}


{% block body %}
	<div class="mkdf-content">
		<div class="mkdf-content-inner">
			<div class="mkdf-full-width-inner">
				<div class="mkdf-grid-row">
					<div class="mkdf-page-content-holder mkdf-grid-col-12">
						<div class="mkdf-row-grid-section-wrapper mkdf-content-aligment-center" style="background-image: url(https://lilo.qodeinteractive.com/wp-content/uploads/2018/05/error-page-backround.jpg);background-position: center center">

							<div style="padding-top: 30px;" class="mkdf-row-grid-section">
								<div style="display: flex; flex-wrap: wrap; justify-content: space-around;" class="content-top">
									<div class="mkdf-iwt-icon home-icon">
										<a itemprop="url" href="#" target="_self">
											<div class="mkdf-iwt-custom-icon">
												<div class="mkdf-iwt-custom-icon-shape" style="background-color:#fcf4eb"></div>
												<img width="115" height="115" src="https://lilo.qodeinteractive.com/wp-content/uploads/2018/04/icon-with-text-1.png" class="attachment-full size-full" alt="c" loading="lazy" srcset="https://lilo.qodeinteractive.com/wp-content/uploads/2018/04/icon-with-text-1.png 115w, https://lilo.qodeinteractive.com/wp-content/uploads/2018/04/icon-with-text-1-100x100.png 100w" sizes="(max-width: 115px) 100vw, 115px"/>
											</div>
											<h4 class="mkdf-iwt-title">
												<span class="mkdf-iwt-title-text">Home</span>
											</h4>
										</a>
									</div>

									<div style="padding-top: 50px; padding-bottom: 150px;" class="mkdf-eh-item mkdf-width-3-5" data-item-class="mkdf-eh-custom-6625" data-1367-1600="0 0 0 45px " data-1025-1366="0 0 0 45px " data-769-1024="70px 0 25px 18px" data-681-768="70px 0 25px 18px" data-680="40px 0 25px 18px">
										<div class="mkdf-eh-item-inner">
											<div class="mkdf-eh-item-content mkdf-eh-custom-6625" style="padding: 0 0 0 45px ">
												<div class="mkdf-section-title-holder   mkdf-st-subtitle-pos-under">
													<div class="mkdf-st-inner">
														<h2 class="mkdf-st-title">
															Minh Duy's Profile
														</h2>
														<span class="mkdf-st-subtitle" style="color: #ffffff;background-color: #dce086;margin: 13px 0 ">
															Edit Profile
														</span>
													</div>
												</div>
												<div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1525776781542" style="border-color: #dce086;border-width: 2px;border-style: dashed;border-radius: 10px; margin-top: 30px; padding-top: 20px;">
													<div class="wpb_column vc_column_container vc_col-sm-6">
														<div class="vc_column-inner">
															<div class="wpb_wrapper">
																<div class="mkdf-icon-list-holder " style="margin-bottom: 15px">
																	<p class="mkdf-il-text" style="padding-left: 20px">Date of Birth: 15/04/2019</p>
																</div>

																<div class="mkdf-icon-list-holder " style="margin-bottom: 15px">
																	<p class="mkdf-il-text" style="padding-left: 20px">Address: Rue du ABC 34</p>
																</div>
																<div class="mkdf-icon-list-holder " style="margin-bottom: 15px">
																	<p class="mkdf-il-text" style="padding-left: 20px">Class: Butterfly</p>
																</div>
															</div>
														</div>
													</div>
													<div class="wpb_column vc_column_container vc_col-sm-6">
														<div class="vc_column-inner">
															<div class="wpb_wrapper">
																<div class="mkdf-icon-list-holder " style="margin-bottom: 15px">
																	<p class="mkdf-il-text" style="padding-left: 20px">Parent's Email: example@gmail.com</p>
																</div>
																<div class="mkdf-icon-list-holder " style="margin-bottom: 15px">
																	<p class="mkdf-il-text" style="padding-left: 20px">Father's Mobile: 07895165046</p>
																</div>
																<div class="mkdf-icon-list-holder " style="margin-bottom: 15px">
																	<p class="mkdf-il-text" style="padding-left: 20px">Mother's Mobile: 07894198046</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>


								<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-7">
									<div class="vc_column-inner">
										<div class="wpb_wrapper"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>{% endblock %}
